$secondary-font: Georgia, serif;

.sub-title-3 {
    color: tomato;
    font-size: 25px;
    font-family: $secondary-font;
}

.sub-title-4 {
    color: rgb(24, 1, 151);
    font-size: 20px;
    font-family: $secondary-font;
}