
$primary-font: 'Julius Sans One', sans-serif;
$second-font: 'Archivo Narrow', sans-serif;
$third-font: 'Source Sans Pro', sans-serif;

$secondary-font: Georgia, serif;

.title{
    font-family: $primary-font;
    font-size: 62pt;
}
.sub-title {
    color: black;
    font-size: 62pt;
    font-family: $primary-font !important;

}

.h1{
    font-family: $primary-font;
    margin-top: 20pt;
    font-size: 62pt;
}

.test{
    font-family: $primary-font;
    font-size: 62pt;
    margin-top: 10%;

}


h2.main-title {
    color: rgb(0, 0, 0);
    font-size: 62pt;
    font-family: $primary-font !important;
    text-transform: uppercase;
}

h2.main-title-2 {
    color:tomato;
    font-size: 62pt;
    font-family: $primary-font !important;
    text-transform: uppercase;
}

h3.sub-title {
    font-size: 24pt;
    font-family: $second-font !important;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
    margin-left: 10%;
    margin-right: 10%;
}

p.main-text{
    font-family: $third-font;
    font-size: 16pt;
    margin-left: 10%;
    margin-right: 10%;
    color: black !important;
}

p.footnotes{
    font-family: $third-font;
    font-size: 12pt;
    margin-left: 10%;
    margin-right: 10%;
    color: black !important;
}
p.side-text{
    font-family: $third-font;
    font-size: 16pt;
    margin-left: 10%;
    margin-right: 10%;
    color: black !important;
}

.carbon-emission{
    color: rgb(255, 255, 255);
    font-size: 40px;
}

.cheeseburger{
    font-family: $second-font !important;
    color: #0073b6;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
    margin-left: 10%;
    margin-right: 10%; 
    font-size: 24pt;
}

.salad{
    font-family: $second-font !important;
    color: #008a12;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
    margin-left: 10%;
    margin-right: 10%; 
    font-size: 24pt;
}

.cereal{
    font-family: $second-font !important;
    color: #d8b80096;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
    margin-left: 10%;
    margin-right: 10%; 
    font-size: 24pt;
}

.guac{
    font-family: $second-font !important;
    color: #0ff15be7;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
    margin-left: 10%;
    margin-right: 10%; 
    font-size: 24pt;
}

.egg{
    font-family: $second-font !important;
    color: #da9c19;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
    margin-left: 10%;
    margin-right: 10%; 
    font-size: 24pt;
}

.pizza{
    font-family: $second-font !important;
    color: #d10000;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
    margin-left: 10%;
    margin-right: 10%; 
    font-size: 24pt;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    margin: 0;
    padding: 0;
  }

.small-container-left {
    position: relative;
    text-align: center;
    width: 50%;
    margin: 0;
    padding: 2%;
    float: left;
}

.small-container-right{
    position: relative;
    text-align: left;
    width: 50%;
    margin: 0;
    padding: 2%;
    float: right;
}
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: $second-font !important;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24pt !important ;}

.top-left {
    position: absolute;
    top: 15%;
    left: 15%;
    transform: translate(-50%, -50%);
    font-family: $primary-font !important;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 62pt !important ;
    color: black;}

.top-left-2 {
    position: absolute;
    top: 15%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-family: $primary-font !important;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 62pt !important ;
    color: black;}
      

  .img{
      margin: 0;
      padding: 0;
  }

  body {margin: 0;}